:root {
    --light-bg-dog: #0a0b0d;
    --light-bg-pig: #0a0b0d;
    --light-bg-cat: #0a0b0d;
    --light-bg-fish: #1c1c23;
    --light-text-1: #f1f1f1;
    --light-text-2: #f7f7f7;
    --light-line-banana:#23242b;
    --light-text-4: #363942;

}

input {
    background-color: var(--light-bg-dog)
}

.ice-slider.light .mark[data-v-52a12614], .ice-slider.light .rail[data-v-52a12614],.ice-slider.light .handle[data-v-52a12614] {
    background:var(--light-bg-fish);
    color: var(--light-text-1)
}

.ice-slider.light .handle>i[data-v-52a12614] {
    background-color: var(--light-text-1) !important;
}

.header[data-v-81141236], #_refresh_page_scroll_view_id_ > div.order.order-light > div.top-wrapper, #_refresh_page_scroll_view_id_ ul.multi-tab-bar, body {
    background-color: var(--light-bg-dog) !important;
}

body {
    color: var(--light-text-1);
}

.dark-reverse {
    filter: invert(1);
}
.tag-wrapper .tag.long:before {
    background: #0d1c18 !important;
}
.positions .tag-wrapper .tag.short:before, .positions .tag-wrapper .tag.long:before {
    background: #211417;
}
body {
    overflow-y: hidden;
}

.card-container.card-action:before {
    background-size: contain;
    right: 0;
    background: url('/ui/card-dark.png') no-repeat;
}

.tag-wrapper:before  {
    background: url('/ui/charge-dark.png') no-repeat;
    background-size: contain;
}

.ts-data:after {
    background: url('/ui/pen-dark.png');
}
